/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

a:link {
  color: #003399;
}

a:visited {
  color: #003399;
}

a:hover {
  color: #003399;
}

span.highlight {
  background-color: #ffffd0;
}

.badge{
    padding-left: .3rem;
    padding-right: .3rem;
    position: absolute;
    margin-top: -1em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .7em;
}